<p id="notice"><%= notice %></p>

<h1>Test Twos</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @test_twos.each do |test_two| %>
      <tr>
        <td><%= test_two.title %></td>
        <td><%= link_to 'Show', test_two %></td>
        <td><%= link_to 'Edit', edit_test_two_path(test_two) %></td>
        <td><%= link_to 'Destroy', test_two, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test Two', new_test_two_path %>
