<h2>Tags</h2>

<p id="notice"><%= notice %></p>

<hr>

<div>
  <% @tags.each do |tag| %>
    <div class="content">
      <p><%= tag.title %></p>
      <p><%= link_to 'Show', tag %></p>
      <p><%= link_to 'Edit', edit_tag_path(tag) %></p>
      <p><%= link_to 'Delete', tag, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'Create a New Tag', new_tag_path %>
